#products {
	margin: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> .card {
		margin: 0.5rem;
		height: min-content;
	}

	.product {
		img {
			max-height: 20vh;
			object-fit: cover;
			object-position: center;
		}
	}
}
