#carousel {
	height: 60vh;
}

#home {
	display: flex;
	flex-direction: column;
}
#products {
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center center;
	column-gap: 1rem;
	row-gap: 1rem;

	.product {
		img {
			max-height: 20vh;
			object-fit: cover;
			object-position: center;
		}
	}
}
