$carousel-background: #f4dffeff;
$animation-interval: 500ms;

.carousel {
	position: relative;
	color: white;
	height: 50vh;
	background-color: $carousel-background;
	> .slide {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&.active {
			animation-name: fadein;
			animation-direction: normal;
			animation-fill-mode: forwards;
			animation-duration: $animation-interval;
		}
		&.inactive {
			animation-name: fadeout;
			animation-duration: $animation-interval;
			animation-fill-mode: forwards;
		}
	}

	> div {
		top: 0;
		z-index: 2;
		background-color: transparent;
		padding: 0 1rem;
		position: absolute;
		min-height: 100%;
		display: flex;
		align-items: center;

		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.1);
			cursor: pointer;
		}
		&:active {
			background-color: rgba($color: #000000, $alpha: 0.2);
			transition: all 0.15s;
		}
		&.left-arrow {
			left: 0;
		}

		&.right-arrow {
			right: 0;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
