@import url('semantic-ui-css/semantic.min.css');

$app-background-color: #f1e8f8;

* {
	box-sizing: border-box;
}
body {
	background-color: $app-background-color;
	overflow: auto;
}

#main {
	display: grid;
	grid-template-rows: min-content auto min-content;
	min-height: 100vh;
}
