@import url('semantic-ui-css/semantic.min.css');

$app-background-color: #f6f1fa;
* {
	box-sizing: border-box;
}
body {
	background-color: $app-background-color;
}


#main {
	display: grid;
	grid-template-rows: min-content auto min-content;
	min-height: 100vh;
}
